<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-audit-stat-heading">Create or edit a Audit Stat</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!auditStat.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="auditStat.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_runId">Run Id</label>
                    <input type="text" class="form-control" name="runId" id="field_runId"
                        [(ngModel)]="auditStat.runId" maxlength="100"/>
                    <div [hidden]="!(editForm.controls.runId?.dirty && editForm.controls.runId?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.runId?.errors?.maxlength">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_executiontime">Executiontime</label>
                    <input type="number" class="form-control" name="executiontime" id="field_executiontime"
                        [(ngModel)]="auditStat.executiontime" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_error">Error</label>
                    <input type="text" class="form-control" name="error" id="field_error"
                        [(ngModel)]="auditStat.error" maxlength="1000"/>
                    <div [hidden]="!(editForm.controls.error?.dirty && editForm.controls.error?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.error?.errors?.maxlength">
                        This field cannot be longer than 1000 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_input">Input</label>
                    <input type="text" class="form-control" name="input" id="field_input"
                        [(ngModel)]="auditStat.input" maxlength="1000"/>
                    <div [hidden]="!(editForm.controls.input?.dirty && editForm.controls.input?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.input?.errors?.maxlength">
                        This field cannot be longer than 1000 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_output">Output</label>
                    <input type="text" class="form-control" name="output" id="field_output"
                        [(ngModel)]="auditStat.output" maxlength="1000"/>
                    <div [hidden]="!(editForm.controls.output?.dirty && editForm.controls.output?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.output?.errors?.maxlength">
                        This field cannot be longer than 1000 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_startTime">Start Time</label>
                    <div class="d-flex">
                        <input id="field_startTime" type="datetime-local" class="form-control" name="startTime" [(ngModel)]="startTime" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_endTime">End Time</label>
                    <div class="d-flex">
                        <input id="field_endTime" type="datetime-local" class="form-control" name="endTime" [(ngModel)]="endTime" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_runconfig">Runconfig</label>
                    <input type="text" class="form-control" name="runconfig" id="field_runconfig"
                        [(ngModel)]="auditStat.runconfig" maxlength="10000"/>
                    <div [hidden]="!(editForm.controls.runconfig?.dirty && editForm.controls.runconfig?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.runconfig?.errors?.maxlength">
                        This field cannot be longer than 10000 characters.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
