<div>
    <h2 id="page-heading">
        <span>Audit Stats</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-audit-stat" [routerLink]="['/audit-stat/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Create new Audit Stat
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="auditStats">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="runId"><span>Run Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="executiontime"><span>Executiontime</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="error"><span>Error</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="input"><span>Input</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="output"><span>Output</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="startTime"><span>Start Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="endTime"><span>End Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="runconfig"><span>Runconfig</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let auditStat of auditStats ;trackBy: trackId">
                <td><a [routerLink]="['/audit-stat', auditStat.id, 'view' ]">{{auditStat.id}}</a></td>
                <td>{{auditStat.runId}}</td>
                <td>{{auditStat.executiontime}}</td>
                <td>{{auditStat.error}}</td>
                <td>{{auditStat.input}}</td>
                <td>{{auditStat.output}}</td>
                <td>{{auditStat.startTime | date:'medium'}}</td>
                <td>{{auditStat.endTime | date:'medium'}}</td>
                <td>{{auditStat.runconfig}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/audit-stat', auditStat.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/audit-stat', auditStat.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'audit-stat', { outlets: { popup: auditStat.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="auditStats && auditStats.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
