<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="auditStat">
            <h2><span>Audit Stat</span> {{auditStat.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Run Id</span></dt>
                <dd>
                    <span>{{auditStat.runId}}</span>
                </dd>
                <dt><span>Executiontime</span></dt>
                <dd>
                    <span>{{auditStat.executiontime}}</span>
                </dd>
                <dt><span>Error</span></dt>
                <dd>
                    <span>{{auditStat.error}}</span>
                </dd>
                <dt><span>Input</span></dt>
                <dd>
                    <span>{{auditStat.input}}</span>
                </dd>
                <dt><span>Output</span></dt>
                <dd>
                    <span>{{auditStat.output}}</span>
                </dd>
                <dt><span>Start Time</span></dt>
                <dd>
                    <span>{{auditStat.startTime}}</span>
                </dd>
                <dt><span>End Time</span></dt>
                <dd>
                    <span>{{auditStat.endTime}}</span>
                </dd>
                <dt><span>Runconfig</span></dt>
                <dd>
                    <span>{{auditStat.runconfig}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/audit-stat', auditStat.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
